@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import "../home/variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex_container{
    display: flex;
    width: 100%;
}